<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #1f7546;">
        <div class="container">
    
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">¡Siguenos en redes sociales!</h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="http://www.facebook.com/" target="_blank" rel="noopener" class="icon-button facebook-a"><i class="fab fa-facebook-f logo face"></i><span></span></a>
            <!-- Twitter -->
            <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener" class="icon-button twitter-a"><i class="fab fa-twitter logo twit"></i><span></span></a>
            <!-- Google +-->
            <a href="#" target="_blank" rel="noopener" class="icon-button google-plus-a"><i class="fab fa-google-plus-g logo google"></i><span></span></a>
            <!--Instagram -->
            <a href="https://www.instagram.com/?hl=es-la" target="_blank" rel="noopener" class="icon-button instag-a"><i class="fab fa-instagram logo insta"></i><span class="degradado"></span></a>
            <!--Linkedin-->
            <a href="https://es.linkedin.com/" target="_blank" rel="noopener" class="icon-button linkedin-a"><i class="fab fa-linkedin logo linked"></i><span></span></a>
    
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
        </div>
    </div>
    
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3">
    
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Conocenos</h6>
            <hr class="subrayado mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, at. Nihil vel possimus autem porro quae necessitatibus cumque vitae incidunt eveniet placeat, nam rem natus! Quos ducimus quae fugiat?</p>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Productos</h6>
            <hr class="subrayado mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p>
            <a class="linkFooter" href="#!">Prueba 1</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Prueba 2</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Prueba 3</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Prueba 4</a>
            </p>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Destacado</h6>
            <hr class="subrayado mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p>
            <a class="linkFooter" href="#!">Consultas</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Sé un patrocinador</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Calificanos!</a>
            </p>
            <p>
            <a class="linkFooter" href="#!">Ayuda</a>
            </p>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto  mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contactos</h6>
            <hr class="subrayado mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p>
            <i class="fas fa-home mr-3"></i>Av. Independencia n°6, Santa Ana - El Salvador</p>
            <p>
            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p>
            <i class="fas fa-phone-alt mr-3"></i> (503) 2345-6788</p>
            <p>
            <i class="fab fa-whatsapp mr-3"></i> (503) 7224-0123</p>
    
        </div>
        <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
    </div>
    <!-- Footer Links -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a class="linkFooter" href="#!">visitanos@enlinea.com</a>
    </div>
    <!-- Boton ir arriba -->
    <a class="ir-arriba"><i class="fas fa-angle-double-up fa-lg ir-arriba"></i></a>
</footer>
<!-- Footer -->